body{
    width: 100%;
    height: 100vh;
    color: aliceblue;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    max-width: 520px;
    margin-top: 100px;
    padding: 30px;
    border-radius: 60px;
    box-shadow: 0 10px 25px;
    background-color: rgb(127, 15, 15);
    }


.button{
    padding: 5px 30px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 7px ;
    margin: 10px 0;
   
}
