<<<<<<< HEAD
body{
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: rgb(219, 216, 208);
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 520px;
    width: 100%;
    padding: 30px 55px;
    border-radius: 60px;
    box-shadow: 0 0px 25px;
    background-color: rgb(81, 12, 12);
    text-align: left;

}



.button{
    padding: 5px 30px;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px ;
    margin: 10px 0;
   
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
    font-size: 1.1rem;
    border-radius: 7px;
    border: none;
}


=======
body{
    width: 100%;
    height: 100vh;
    color: aliceblue;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 520px;
    margin-top: 100px;
    padding: 30px;
    border-radius: 60px;
    box-shadow: 0 10px 25px;
    background-color: rgb(127, 15, 15);
    }



.button{
    padding: 5px 30px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 7px ;
    margin: 10px 0;
   
}


>>>>>>> 0a426a9df157a47e2ea307c2b6699c733cf1d3b6
